<!DOCTYPE html>
<html>
  <head>
    <title>IT Ukraine</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-light navbar-light">
      <div class='container'>
        <!-- Brand -->
        <a class="navbar-brand" href="/home">IT Ukraine</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            {% if session.username %}
              <li class="nav-item">
                <a class="nav-link" href="/home">{{session.username}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/keys">TWITTER KEYS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
                <li class="nav-item">
              <a class="nav-link" href="/reg">Registration</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class='container mt-4'>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      <div class="row">
        <div class="col-9">
          {% block body %}

          {% endblock %}

        </div>
        <div class="col-3">

          <section class="vh-90" style="background-color: #eee;">
            <div class="container py-5 h-100">

              <h4 class="text-center my-3 pb-3">ROOLS</h4>
              <div class="col-xs-12">
                    <div class="card rounded-3">
                      <div class="card-body p-6">
                        <p class="text-center my-6 pb-6">1. ADD Twitter API Keys</p>
                      </div>
                    </div>

                    <div class="card rounded-3">
                      <div class="card-body p-6">
                        <p class="text-center my-6 pb-6">2. Push "RUN" button <br>(program will make retweet by itself)</p>

                      </div>
                    </div>
                      <div class="card rounded-3">
                      <div class="card-body p-6">
                        <p class="text-center my-6 pb-6">3. Regularly check for new Links</p>

                      </div>
                    </div>
                </div>
              </div>
            </section>
        </div>
      </div>

  </body>
</html>